
// Persian font
@import "~static/fonts/vazir/Vazir.css";

// izitoast
.iziToast {
  font-family: $body-font-family !important;
}

// highlightjs
pre {
  direction: ltr;
  border-radius: 5px;
  display: block;
  overflow-x: auto;
  padding: 1em;
  margin: 0 1rem 0 1rem;
  background: #232323;
  color: #e6e1dc;
}

*::selection {
  background-color: lightsalmon;
}
